
@{
    ViewBag.Title = "GestionarFacRechazadas";

}

<div class="tab-content">
    <div class="tab-pane active" id="1b">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="text-primary_asalud">Ingreso Gestión</strong>
            </div>

            <div class="panel-body" id="panel_formulario">
                <form class="animated fadeInDown" id="formulario">

                    <div class="row">
                        <div class="col-sm-12">
                            <label class="text-secondary_asalud">Seleccione motivos de rechazo</label>

                            <label><input type="checkbox" value="1" name="sport" required> Imagen con errores en la digitalización</label>
                            <label><input type="checkbox" value="2" name="sport"> Falta sello y firma de médico</label>
                            <label><input type="checkbox" value="3" name="sport"> Factura no corresponde a Ecopetrol</label>
                            <label><input type="checkbox" value="4" name="sport"> Factura electrónica sin notificar a Ecopetrol</label>
                            <label><input type="checkbox" value="5" name="sport"> Factura no cumple requisitos legales</label>
                            <label><input type="checkbox" value="6" name="sport"> Falta documentos soporte para el proceso de auditoría</label>
                            <label><input type="checkbox" value="7" name="sport"> Valor factura no coincide con el presentado en  RIPS</label>

                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-8">
                            <label class="text-secondary_asalud">Observaciones</label>
                            @*<input rows="4" cols="100" type="text" class="form-control" name="obs" id="obs" required />*@
                            <textarea class="form-control" id="obs" name="obs" rows="4" placeholder="Escriba el texto" maxlength="500" required></textarea>
                        </div>

                    </div>

                    <br />

                    <div class="row">
                        <div class="col-sm-12" align="center">
                            <button class="button_Asalud_Guardar" type="button" onclick="finalizar()">Guardar</button>
                        </div>

                    </div>
                    <div style="display:none">
                        <input class="form-control" type="text" name="id_cargue_dtll" id="id_cargue_dtll" value="@ViewBag.id_dtll" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('.select2').select2({
            width: '100%'
        });

        $(".datepickerr").kendoDatePicker({
            format: "dd/MM/yyyy",
        });
        $(".k-input").attr('readonly', true);

          $('.select2').select2({
            width: '100%'
        });


        $(".k-input").attr('readonly', true);


        $('.solo-numero').keyup(function () {
                this.value = (this.value + '').replace(/[^0-9.]/g, '');
            });


        $('.solo-numero2').keydown(function () {
                this.value = (this.value + '').replace(/[^0-9.]/g, '');
            });


        $('.solo-numero3').focusout(function () {
                this.value = (this.value + '').replace(/[^0-9.]/g, '');

        });
    })

     function finalizar() {
        var validator = $("#formulario").validate();
        if (validator.form()) {

            FinalizarDatos();
        }
    }
     function FinalizarDatos() {

        var SelectedList = new Array();
        var SelectedList = [];
            $.each($("input[name='sport']:checked"), function(){
                SelectedList.push($(this).val());
            });


        var formData = new FormData($("form")[0]);

        formData.append("id_cargue_dtll", $("#id_cargue_dtll").val());
        formData.append("obs", $("#obs").val());
        for (var i = 0; i < SelectedList.length; i++) {
            formData.append('SelectedList', SelectedList[i]);
            }

        LoadingShow();
        $.ajax({
            url: "@Url.Action("SavegestionFacturasRechazadas", "RadicacionElectonica")",
            type: "post",
            data:  formData,
            method: 'POST',
            contentType: false,
            processData: false,

            success: function (response) {

              if (response.success)
              {
                  LoadingHide();
                  alert(response.message);
                  var URL2 = "@Url.Action("CrearPdfFacturasDigRechazadas", "RadicacionElectonica")?id=" + response.id;
                  window.open(URL2, '', 'width =700,height =700,left =50,top =50,toolbar =yes');
                  location.reload();
              }
              else
              {
                     alert(response.message);
                     LoadingHide();
              }

            }
        })

    }


</script>

<style>
    .big-checkbox {
        width: 20px;
        height: 30px;
    }

    .control-label {
        font-size: 15px;
        color: #357ebd;
    }

    .letra {
        font-size: 15px;
    }

    label.error {
        background-color: indianred;
        color: white;
        font-size: 13px;
    }

    .control-label {
        font-size: 15px;
    }

    .alert-new {
        color: #012f51;
        background-color: #dcdcdc;
        border-color: #8c8c8c;
        margin-right: 1%;
    }

    .contentErr {
        width: 50%;
        background: white;
        position: fixed;
        top: 20%;
        left: 25%;
        padding: 15px;
    }

    .showErroneos {
        background: rgba(0,0,0,0.4);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
    }

    .cortinilla {
        background: rgba(0,0,0,0.2);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
    }

    .ventana {
        width: 15%;
        height: 25%;
        padding: 1%;
        background-image: url(../../Resources/cargando.gif);
        background-size: 100% 100%;
        top: 40%;
        left: 42.5%;
        position: relative;
    }

    .k-autocomplete.k-header {
        width: 300px;
    }

    .Acordion {
        width: 820px;
    }

    .AcordionVentana {
        width: 100px;
        height: 100px;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        width: 700px;
    }

    .Enca {
        width: 700px;
        text-align: center;
        background-color: #284775;
        color: #ffffff;
    }

    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }

    .th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .td {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    #table2 {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 10px;
        margin: 7px;
        width: 990px;
        text-align: left;
        border-collapse: collapse;
    }


        #table2 th {
            font-size: 12px;
            font-weight: normal;
            padding: 8px;
            background: #9598A0;
            border-top: 4px solid #aabcfe;
            border-bottom: 1px solid #fff;
            color: #524e4e;
        }

        #table2 td {
            padding: 8px;
            background: #efefef;
            border-bottom: 2px solid #fff;
            color: #000000;
            border-top: 1px solid transparent;
        }

    label {
        display: block;
        margin-bottom: 2px;
        font-weight: normal;
    }
</style>






