
@{
    ViewBag.Title = "SoportesClinicos";
    Layout = null;
}

@*<div class="wrapper" style="position:relative; width:100%;overflow-y:hidden;">
    <div class="embed-cover"></div>*@
    @*<iframe id="frame" src="@Url.Action("versoporteclinico", "RadicacionElectonica", new { idsoporteclinico = ViewBag.idsoporteclinico})#toolbar=0" style="width:100%; height:670px;"></iframe>*@
    <iframe id="frame" src="@Url.Action("versoporteclinico", "RadicacionElectonica", new { idsoporteclinico = ViewBag.idsoporteclinico})" style="width:100%; height:670px;"></iframe>
@*</div>*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        //evento para bloquear el menu del click derecho
        document.oncontextmenu = function () { return false }
        document.onkeydown = function (e) {
            e = e || window.event;
            if (!e.ctrlKey) return;
            var code = e.which || e.keyCode;
            switch (code) {
                case 83:
                case 87:
                    e.preventDefault();
                    e.stopPropagation();
                    break;
            }
        };
    });

</script>

<style>
    .embed-cover {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 15px;
        opacity: 0.25;
    }

    .wrapper {
        position: relative;
        overflow: hidden;
    }
</style>


