
@{
    ViewBag.Title = "VerRechazo";

}


<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="text-primary_asalud">Rechazos</strong>
    </div>
    <div class="panel-body">

        <div class="table-responsive">

            <table class="table table-hover display table-striped table-condensed table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Motivo rechazo</th>
                        <th>Fecha rechazo</th>

                    </tr>
                </thead>

                <tbody id="myTable">

                    @foreach (ECOPETROL_COMMON.ENTIDADES.managment_prestadores_list_rechazosResult item in ViewBag.List)
                    {
                        <tr>
                            <td>@item.id_af</td>
                            <td>@item.descripcion.ToUpper()</td>
                            <td>@item.fecha_ingreso.Value.ToString("dd/MM/yyyy")</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
        <div>
            <label class="text-secondary_asalud">Observaciones:</label>
            <br />
            <p style="text-align:justify">@ViewBag.observaciones</p>
        </div>
    </div>

</div>



<script type="text/javascript">
    $(document).ready(function () {

      

    })

</script>
<style>
    #pnlcargararchivo {
        margin-top: 5%;
    }

    label.error {
        background-color: indianred;
        color: white;
        font-size: 13px;
        font-weight: bold;
        float: left;
        width: 100%;
        text-align: justify;
        font-weight: bold;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Tamaño {
        height: 200px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    table {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 12px;
        margin: 10px;
        width: 500px;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        font-weight: bold;
        padding: 8px;
        background: #636363;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #e8e8e8;
    }

    td {
        padding: 8px;
        background: #efefef;
        border-bottom: 2px solid #fff;
        color: #636363;
        border-top: 1px solid transparent;
    }

    tr:hover td {
        background: #bcbcbc;
        color: #1c1c1c;
    }

    .floatBlock {
        margin: 0 1.81em 0 0;
    }
</style>




