
@{
    ViewBag.Title = "CONFIGURACIÓN Y ADMINISTRACIÓN TIPO DE PRESTADORES";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
    List<ECOPETROL_COMMON.ENTIDADES.indicador_regional> listaindicador = (List<ECOPETROL_COMMON.ENTIDADES.indicador_regional>)ViewData["listaindiregionales"];
}

<br />

<div class="container">
    <div id="pnlPrincipal" class="General">
        <div class="col-sm-12 row">
            <table class="table table-hover table-striped table-condensed table-bordered" width="100">
                <thead style="background-color:#333333; color:white">
                    <tr>
                        <th>Regional</th>
                        <th style="text-align:center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ECOPETROL_COMMON.ENTIDADES.Ref_regional item in ViewBag.regionales)
                    {
                        var lista = listaindicador.Where(l => l.id_regional == item.id_ref_regional).ToList();
                        <tr>
                            <td>@item.nombre_regional</td>
                            <td style="text-align:center"><a role="button" href="@Url.Action("TipoPrestadores","ProcesosInternos", new {idregional = item.id_ref_regional })" class="btn btn-sm button_Asalud_Aceptar">Admin Prestadores</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>

     table {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 12px;
        margin: 10px;
        width: 500px;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        font-weight: bold;
        padding: 8px;
        background: #636363;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #e8e8e8;
    }

    td {
        padding: 8px;
        background: #efefef;
        border-bottom: 2px solid #fff;
        color: #636363;
        border-top: 1px solid transparent;
    }

    tr:hover td {
        background: #bcbcbc;
        color: #1c1c1c;
    }

    .sorting_asc:after {
        color: white !important;
    }

    .pagination > .active > a {
        background-color: #333333;
        border-color: white;
    }

        .pagination > .active > a:hover {
            background-color: white;
            color: #333333;
            border-color: #333333;
        }

    .Info {
        color: #800000;
        text-align: justify;
        font-weight: bold;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Tamaño {
        height: 200px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }
</style>
