[*.cs]

# CS1705: El ensamblado 'Kendo.Mvc' con la identidad 'Kendo.Mvc, Version=2014.3.1125.545, Culture=neutral, PublicKeyToken=121fae78165ba3d4' usa 'System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35', que tiene una versión superior a la del ensamblado 'System.Web.Mvc' al que se hace referencia y que tiene la identidad 'System.Web.Mvc, Version=3.0.0.1, Culture=neutral, PublicKeyToken=31bf3856ad364e35'
dotnet_diagnostic.CS1705.severity = error
