

@{
    ViewBag.Title = "_ModalPrestadoresUsuario";
}


<div class="table-responsive">
    <div>
        <label class="text-secondary_asalud">PRESTADORES</label>
    </div>

    <table class="table table-bordered table-condensed" style="font-size:10px; width:98%;">
        <thead>
            <tr>
                <th>Nombre prestador</th>
                <th>Nit prestador</th>
                <th>Departamento</th>
                <th>Ciudad</th>
            </tr>
        </thead>
        @foreach (ECOPETROL_COMMON.ENTIDADES.management_informacionUsuarios_prestadoresDetalleResult item in ViewBag.lista)
        {
            <tr>
                <td>@item.nombrePrestador</td>
                <td>@item.Nit</td>
                <td>@item.departamento</td>
                <td>@item.nombreCiudad</td>
            </tr>
        }
    </table>
</div>



<style>

    .table {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 10px;
        margin: 5px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }

        .table th {
            font-weight: bold;
            padding: 5px;
            background: #636363;
            border-top: 2px solid #aabcfe;
            border-bottom: 1px solid #fff;
            color: #e8e8e8;
        }

        .table td {
            padding: 8px;
            background: #efefef;
            border-bottom: 2px solid #fff;
            color: #636363;
            border-top: 1px solid transparent;
        }

        .table tr:hover td {
            background: #bcbcbc;
            color: #1c1c1c;
        }
</style>

