
@{
    ViewBag.Title = "BUSCAR USUARIO PRESTADORES";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

<br />

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="text-primary_asalud">INGRESAR NIT, NOMBRE PRESTADOR O CÉDULA USUARIO</p>
        </div>

        <div class="panel-body">

            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <label class="radio-inline">
                        <input type="radio" name="documento" id="documento" value="1" required onclick="mostrarTodo(this.value)" />Nit
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="documento" id="documento" value="2" required onclick="mostrarTodo(this.value)" />Nombre prestador
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="documento" id="documento" value="3" required onclick="mostrarTodo(this.value)" />Cédula
                    </label>
                </div>
                <div class="col-md-4">
                </div>
            </div>

            <br />
            <form id="formulario">

                <div class="row" id="divNit" style="display:none;">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <label class="text-secondary_asalud">NIT:</label><span style="color:red"></span>
                        <input type="text" class="form-control solo-numero" name="nit" id="nit" maxlength="20" />
                    </div>

                    <div class="col-md-2">
                        <h5><span class="label label-default" style="visibility:hidden">buscar</span></h5>
                        <button type="button" class="button_Asalud_Guardar" onclick='validarFormulario()'>
                            BUSCAR
                        </button>
                    </div>

                </div>
                <div class="row" id="divNombre" style="display: none;">

                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <label class="text-secondary_asalud">Nombre:</label><span style="color:red"></span>
                        <input type="text" class="form-control" required name="nombre" id="nombre" maxlength="100" />
                    </div>
                    <div class="col-md-2">
                        <h5><span class="label label-default" style="visibility:hidden">buscar</span></h5>
                        <button type="button" class="button_Asalud_Guardar" onclick='validarFormulario()'>
                            BUSCAR
                        </button>
                    </div>
                </div>
                <div class="row" id="divCedula" style="display:none;">

                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <label class="text-secondary_asalud">Cédula:</label><span style="color:red"></span>
                        <input type="text" class="form-control solo-numero" required name="cedula" id="cedula" maxlength="20" />
                    </div>
                    <div class="col-md-2">
                        <h5><span class="label label-default" style="visibility:hidden">buscar</span></h5>
                        <button type="button" class="button_Asalud_Guardar" onclick='validarFormulario()'>
                            BUSCAR
                        </button>
                    </div>
                </div>
            </form>

            <div class="hidden">
                <input type="hidden" id="decision" />
            </div>

        </div>
        <br />
    </div>
</div>


<div class="container" id="tablaResultado" style="display:none;">
    <div class="panel panel-default">

        <div class="panel-heading">
            <p class="text-primary_asalud">  DETALLE USUARIO</p>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="tabla" class="table table-bordered table-condensed" style="font-size:11px; width:100%;  margin:0px !important">
                    <thead>
                        <tr>
                            <th>Número documento</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Último ingreso</th>
                            <th>Prestadores</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modalGestion">
    <div class="modal-dialog modal-lg" style="width:55%">
        <div class="modal-content">

            <div class="modal-body">
                <div id="resultado"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button_Asalud_Rechazar" onclick="GestionCerrar()">CERRAR</button>
            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/validate.js"></script>

<script>

    $(document).ready(function () {

        $('.select2').select2({
            width: '100%',
            height: '100%'
        });

        $(".k-input").attr('readonly', true);

        $('.tabla').DataTable({
            "searching": true,
            "sSearch": "Buscar:",
            "iDisplayLength": 25,
            "lengthChange": false,
            "info": false,

            responsive: true,


            language: {
                search: "Buscar",
            }
        });

    });

    function mostrarTodo(tipo) {

        if (tipo == 1) {
            $("#divNit").css("display", "block");
            $("#nombre").val('');
            $("#cedula").val('');
            $("#divNombre").css("display", "none");
            $("#divCedula").css("display", "none");
            $("#decision").val(1);
        }
        else if (tipo == 2) {

            $("#divNit").css("display", "none");
            $("#divNombre").css("display", "block");
            $("#nit").val('');
            $("#cedula").val('');
            $("#divCedula").css("display", "none");
            $("#decision").val(2);
        }

        else {
            $("#divNit").css("display", "none");
            $("#divNombre").css("display", "none");
            $("#divCedula").css("display", "block");
            $("#nit").val('');
            $("#nombre").val('');
            $("#decision").val(3);
        }
    }

    function validarFormulario() {
        var validator = $("#formulario").validate();
        if (validator.form()) {
            LoadingShow();
            buscarDatos();
        }
    }


    function buscarDatos() {

        var decision = document.getElementById("decision").value;
        var nit = $("#nit").val();
        var nombre = $("#nombre").val();
        var cedula = $("#cedula").val();

        $.ajax({
            url: "@Url.Action("buscarDatosUsuarioPrestador")",
            type: "post",
            data: {
                decision: decision,
                nit: nit,
                cedula: cedula,
                nombre: nombre,
            },
            success: function (data) {

                $("#tablaResultado").css("display", "block");
                $("#tabla tbody").empty();
                $("#tabla tbody").html(data);
                LoadingHide();

            }
        })
    }

    function MirarPrestadores(idUser) {

        $.ajax({
            url: "@Url.Action("_ModalPrestadoresUsuario")",
            type: "post",
            data: { idUsuario: idUser },
            success: function (data) {

                $("#modalGestion").modal('show');
                $('#resultado').html('');
                $('#resultado').html(data);
            }
        });
    }

    function GestionCerrar() {
        $("#modalGestion").modal("hide");
    }
</script>


<style>


    label.error {
        background-color: indianred;
        color: white;
        font-size: 13px;
        font-weight: bold;
        float: left;
        width: 100%;
        text-align: justify;
        font-weight: bold;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Tamaño {
        height: 200px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }


    #tabla {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 12px;
        margin: 10px;
        width: 500px;
        text-align: left;
        border-collapse: collapse;
    }

        #tabla th {
            font-weight: bold;
            padding: 8px;
            background: #636363;
            border-bottom: 1px solid #fff;
            color: #e8e8e8;
        }

        #tabla thead tr td {
            padding: 8px;
            background: #efefef;
            border-bottom: 2px solid #fff;
            color: #636363;
            border-top: 1px solid transparent;
        }

        #tabla thead tr:hover td {
            background: #bcbcbc;
            color: #1c1c1c;
        }

    .floatBlock {
        margin: 0 1.81em 0 0;
    }

    .letra {
        font-size: 15px;
        font-family: 'Century Gothic';
        color: #556da2;
    }

    label.error {
        background-color: indianred;
        color: white;
        font-size: 13px;
        font-weight: bold;
    }

    .alert-new {
        color: #012f51;
        background-color: #dcdcdc;
        border-color: #8c8c8c;
        margin-right: 1%;
    }

    label {
        display: block;
        margin-bottom: 2px;
        font-family: 'Century Gothic';
    }
</style>

