@model AsaludEcopetrol.Models.PruebasApi.PerfilRendimiento

@{
    ViewBag.Title = "Resultados del Perfil de Rendimiento";
}

<h2>Resultados del Perfil de Rendimiento</h2>

@if (Model == null)
{
    <div class="alert alert-info" role="alert">
        No hay datos disponibles para mostrar.
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Propiedad1</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>@Model.NombreMetodo</td>
            </tr>
        </tbody>
    </table>
}
