
@{
    ViewBag.Title = "SUBIR DOCUMENTOS";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
    int? rta = (int?)ViewData["Respuesta"];
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<br />
@if (rta != null)
{
    if (rta == 1)
    {
        <div class="alert alert-success" role="alert">
            <p>
                <strong>Exito! </strong>El documento ha sido cargado exitosamente.
            </p>
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <p>
                <strong>Error! </strong>No se ha podido subir el documento. por favor, intentelo nuevamente.
            </p>
        </div>
    }
}
<div class="panel panel-default" style="margin-top:15px">
    <div class="panel-heading">
        <span>Cargue de documentos o evaluaciones de visitas de calidad.</span>
    </div>
    <div class="panel-body">
        <form id="formulario" method="post" enctype="multipart/form-data" action="@Url.Action("SubirdocumentoVisitasCalidad","GestorDocumental") ">
            <div class="row">
                <input type="hidden" id="txtidprestador" name="idprestador" />
                <div class="col-sm-6 form-group">
                    <span class="control-label text-primary" style="font-weight:bold">Buscar prestador</span>
                    <div class="input-group">
                        <input type="text" id="txtfiltro" name="txtfiltro" class="form-control" disabled="disabled" aria-label="...">
                        <div class="input-group-btn">
                            <button id="btnfiltro" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filtrar por &nbsp;<span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="javascript:filtro(1)">Codigo SAP</a></li>
                                <li><a href="javascript:filtro(2)">NIT</a></li>
                                <li><a href="javascript:filtro(3)">Nombre</a></li>
                            </ul>
                        </div>
                        <input type="hidden" id="tipofiltro" name="tipofiltro" value="0" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-2">
                    <span class="control-label text-primary" style="font-weight:bold">Codigo SAP</span><span style="color:red">*</span>
                    <input type="text" class="form-control" required="required" id="txtcodigosap" name="codigosap" readonly />
                </div>
                <div class="form-group col-sm-3">
                    <span class="control-label text-primary" style="font-weight:bold">NIT</span><span style="color:red">*</span>
                    <input type="text" class="form-control" required="required" id="txtnit" name="nit" readonly />
                </div>
                <div class="form-group col-sm-3">
                    <span class="control-label text-primary" style="font-weight:bold">Nombre</span><span style="color:red">*</span>
                    <input type="text" class="form-control" required="required" id="txtnombre" name="nombre" readonly />
                </div>
                <div class="form-group col-sm-4">
                    <span class="control-label text-primary" style="font-weight:bold">Subir documento</span><span style="color:red">*</span>
                    <input type="file" class="form-control" accept="application/pdf" required name="file" id="file" />
                </div>
                <div class="form-group col-sm-12">
                    <span class="control-label text-primary" style="font-weight:bold">Observaciones</span>
                    <textarea class="form-control" id="observaciones" name="observaciones" rows="5" placeholder="-Digite aqui sus comentarios u observaciones-"></textarea>
                </div>
                <div class="form-group col-sm-12 text-right">
                    <a role="button" class="btn btn-default" href="@Url.Action("AddDocumentos", "GestorDocumental")">Volver</a>
                    &nbsp;
                    <button type="button" onclick="ValidarFormulario()" class="btn btn-success"><i class="glyphicon glyphicon-upload"></i>&nbsp;Subir Documento</button>
                </div>
            </div>
        </form>

    </div>
</div>

<script src="~/Scripts/validate.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
    $(document).ready(function () {

        $("#txtfiltro").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/ProcesosInternos/BuscarPrestador",
                    dataType: "json",
                    type: "POST",
                    data: {
                        term: request.term,
                        tipofiltro: $("#tipofiltro").val()
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            min_length: 3,
            delay: 300,
            select: function (evento, ui) {
                if (ui.item != null) {
                    $("#txtcodigosap").val(ui.item.codigosap);
                    $("#txtnit").val(ui.item.nit);
                    $("#txtnombre").val(ui.item.nombre);
                    $("#txtidprestador").val(ui.item.id)
                }
            },

        });
    });

    function filtro(a) {
        $("#tipofiltro").val(a);
        $("#txtfiltro").prop('disabled', false);
        var boton = document.getElementById('btnfiltro');
        switch (a) {
            case 1:
                boton.innerHTML = 'Codigo SAP &nbsp;<span class="caret"></span>';
                break;
            case 2:
                boton.innerHTML = 'NIT &nbsp;<span class="caret"></span>';
                break;
            case 3:
                boton.innerHTML = 'Nombre &nbsp;<span class="caret"></span>';
                break;
            default:
                boton.innerHTML = 'Filtrar Por &nbsp;<span class="caret"></span>';
                break;
        }
    }


    function ValidarFormulario()
    {
        var validator = $("#formulario").validate();
        if (validator.form()) {
            $("#formulario").submit();
        }
    }
</script>
<style>
    .error{
        color:indianred;
    }

    .k-autocomplete.k-header {
        width: 300px;
    }

    .Acordion {
        width: 820px;
    }

    .AcordionVentana {
        width: 100px;
        height: 100px;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }

    .Enca {
        width: 700px;
        text-align: center;
        background-color: #284775;
        color: #ffffff;
    }

    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }

    .th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .td {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }
</style>

