<div class="tab-pane" id="1a">
    <br />
   
</div>


<script>
    $(document).ready(function () {

        $('#tableroCruzan').DataTable({
            "searching": true,
            "idisplaylength": 10,
            "lengthchange": false,
            "info": false,
            "responsive": true,
            "zeroRecords": "No se encontraron resultados",
            responsive: true,
            language: {
                processing: "procesando...",
                search: "buscar:",
                lengthmenu: "mostrar menu registros",
                info: "mostrando registros del start al end de un total de total registros",
                infoempty: "mostrando registros del 0 al 0 de un total de 0 registros",
                infofiltered: "(filtrado de un total de max registros)",
                infopostfix: "",
                loadingrecords: "cargando...",
                zerorecords: "no se encontraron resultados",
                emptytable: "ningún dato disponible en esta tabla",
                paginate: {
                    first: "primero",
                    previous: "anterior",
                    next: "siguiente",
                    last: "último",
                },
            }
        });
    });

</script>
