
@{
    ViewBag.Title = "MEDICAMENTOS REGULADOS";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
    string mensajerespuesta = (string)ViewData["MensajeRta"];
}
<br />

<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="text-primary_asalud">Cargue masivo medicamentos regulados</strong>
    </div>
    <div class="panel-body">

        @if (!String.IsNullOrEmpty(mensajerespuesta))
        {
            if (mensajerespuesta.Contains("Error"))
            {
                <label class="danger"> @Html.Raw(mensajerespuesta)</label>
            }
            else
            {
                @Html.Raw(mensajerespuesta);
            }
        }

        <br />
        <form id="formMedRegulados" name="formtarifas" enctype="multipart/form-data" method="post" action="CargueMedicamentosRegulados">
            <div class="row">
                <div class="col-sm-4">
                    <label class="text-secondary_asalud">Seleccionar archivo:</label>
                    <input type="file" id="files" name="files" class="form-control" onchange="ValidacionArchivo();" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required />
                </div>
                <div class="col-sm-4">
                    <label class="text-secondary_asalud">Vigencia desde:</label>
                    <input type="datetime" id="vigenciadesde" name="vigenciadesde" style="width: 100%" class="form-control" required />
                </div>
                <div class="col-sm-4">
                    <label class="text-secondary_asalud">Vigencia hasta:</label>
                    <input type="text" id="vigenciahasta" name="vigenciahasta" style="width: 100%" class="form-control" required />
                </div>
            </div>
            <br />
            <div>
                <div class="col-sm-12 text-right form-group">
                    <button onclick="ValidarFormulario()" class="btn button_Asalud_Guardar">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/Scripts/validate.js"></script>
<script>

    $(document).ready(function () {
        $(".soloNumeros").keyup(function () {
            this.value = (this.value + '').replace(/[^0-9]/g, '');
        });

        $('.select2').select2({
            width: '100%',
            height: '100%'
        });

        $("#vigenciadesde").kendoDatePicker();
        $("#vigenciahasta").kendoDatePicker();

        $(".k-input").attr('readonly', true);

    });

    function ValidarFormulario() {

        var fechainicial = document.getElementById("vigenciadesde").value;
        var fechafinal = document.getElementById("vigenciahasta").value;

        if (Date.parse(fechafinal) < Date.parse(fechainicial)) {
            alert("La fecha de vigencia desde no puede ser mayor a la vigencia hasta.");
            return false;
        }

        var validator = $("#formMedRegulados").validate();

        if (validator.form()) {
            LoadingShow();
            $("#formMedRegulados").submit();
        }
    }

    function ValidacionArchivo() {
        var data = document.getElementById('files');
        var nameext = data.files[0].name;
        var extension = getFileExtension(nameext);

        var listaextensiones = ["xlsm", "xlsx", "xlsb", "xltx", "XLSM", "XLSX", "XLSB", "XLTX"];

        var valida = false;

        jQuery.each(listaextensiones, function (i, val) {
            if (extension == val) {
                valida = true;
            }
        });

        if (valida == false) {
            alert("La extensión " + extension + "  no es válida. Por favor, solo subir archivos excel.");
            $("#files").val("");
        }
    }



    function getFileExtension(filename) {
        return filename.slice((filename.lastIndexOf(".") - 1 >>> 0) + 2);
    }

</script>

<style>
    .error {
        color: indianred;
        font-weight: bold;
    }

    table {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        margin: 10px;
        width: 500px;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        font-size: 12px;
        font-weight: bold;
        padding: 8px;
        background: #636363;
        border-top: 4px solid #aabcfe;
        border-bottom: 1px solid #fff;
        color: #e8e8e8;
    }

    .thEn {
        width: 30%;
    }

    .thCa {
        width: 70%;
    }

    td {
        padding: 8px;
        border-bottom: 2px solid #fff;
        color: #636363;
        border-top: 1px solid transparent;
    }


    tr:hover td {
        background: #bcbcbc;
        color: #1c1c1c;
    }

    .alert-new {
        color: #012f51;
        background-color: #dcdcdc;
        border-color: #8c8c8c;
        margin-right: 1%;
    }

    .contentErr {
        width: 50%;
        background: white;
        position: fixed;
        top: 20%;
        left: 25%;
        padding: 15px;
    }

    .showErroneos {
        background: rgba(0,0,0,0.4);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
    }

    .k-autocomplete.k-header {
        width: 300px;
    }

    .Acordion {
        width: 820px;
    }

    .AcordionVentana {
        width: 100px;
        height: 100px;
    }
    /*
    .error {
        color: #800000;
        font-size: small;
        font-weight: bold;
        margin-top:50px;
    }*/

    .Info {
        color: #800000;
        font-size: small;
        text-align: justify;
        font-weight: bold;
        width: 700px;
    }

    .Enca {
        width: 700px;
        text-align: center;
        background-color: #284775;
        color: #ffffff;
    }

    .ListCaja {
        width: 50%;
        border-collapse: collapse;
    }

    .th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    .td {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .General {
        font-size: x-small;
        font-family: Calibri;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }
</style>

