table {
    font-family: "Century Gothic", 'Century Gothic', Sans-Serif;
    font-size: 12px;
    margin: 10px;
    width: 500px;
    text-align: left;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    padding: 8px;
    background: #636363;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #e8e8e8;
}

td {
    padding: 8px;
    background: #efefef;
    border-bottom: 2px solid #fff;
    color: #636363;
    border-top: 1px solid transparent;
}

.alert-new {
    color: #012f51;
    background-color: #dcdcdc;
    border-color: #8c8c8c;
    margin-right: 1%;
}

.contentErr {
    width: 50%;
    background: white;
    position: fixed;
    top: 20%;
    left: 25%;
    padding: 15px;
}

.showErroneos {
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.k-autocomplete.k-header {
    width: 300px;
}

.Acordion {
    width: 820px;
}

.AcordionVentana {
    width: 100px;
    height: 100px;
}

.Error {
    color: #800000;
    font-size: small;
    font-weight: bold;
}

.Info {
    color: #800000;
    font-size: small;
    text-align: justify;
    font-weight: bold;
    width: 700px;
}

.Enca {
    width: 700px;
    text-align: center;
    background-color: #284775;
    color: #ffffff;
}

.ListCaja {
    width: 50%;
    border-collapse: collapse;
}


.General {
    font-size: x-small;
    font-family: Calibri;
}

.TamañoImag {
    height: 200px;
    position: center;
}

.TamañoDiv {
    position: page;
}

.btn-glyphicon {
    padding: 8px;
    background: #ffffff;
    margin-right: 4px;
}

.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius: 50px;
}

.button_Asalud_Reporte {
    color: white;
    background-color: #636363;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: centy;
    font-size: 11px;
    border-radius: 5px;
    border: 2px #006505;
    font-size: 13px;
    font-family: "Century Gothic", 'Century Gothic', Sans-Serif;
    text-align: center;
}

    .button_Asalud_Reporte:hover {
        opacity: 0.6;
        text-decoration: none;
    }

