.cortinilla {
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.ventana {
    width: 15%;
    height: 25%;
    padding: 1%;
    background-image: url(../../Resources/cargando.gif);
    background-size: 100% 100%;
    top: 40%;
    left: 42.5%;
    position: relative;
}


#popup {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.content-popup {
    margin: 0px auto;
    margin-top: 6%;
    position: relative;
    padding: 10px;
    width: 50%;
    min-height: 250px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px #666666;
}

#imgloader{
    top:50%;
    margin-left:45%;
    position:relative;
    margin-top:-100px;
}

.footer-popup {
    padding: 2px 16px;
    background-color: white;
}

.content-popup h2 {
    color: #48484B;
    border-bottom: 1px solid #48484B;
    margin-top: 0;
    padding-bottom: 4px;
}

.popup-overlay {
    display: none;
    cursor: pointer;
    opacity: 0.7;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.close {
    position: absolute;
    right: 15px;
}

.table-fixed thead,
.table-fixed tfoot {
    width: 97%;
}

.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tfoot,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed thead > tr > th,
.table-fixed tfoot > tr > td {
    float: left;
    border-bottom-width: 0;
}

.modal-dialog {
    position: initial !important;
}

.pagination > .active > a {
    background-color: #333333;
    border-color: white;
}

.pagination > .active > a:hover {
    background-color: white;
    color: #333333;
    border-color: #333333;
}

.table thead {
    background-color: #333333;
    color:white;
}

.sorting_asc:after {
    color: white !important;
}
