
@model List<ECOPETROL_COMMON.ENTIDADES.management_rips_tableoControl_detalladoResult>
@{
    Layout = null;
}

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id RIPS</th>
                <th>Conteo</th>
                <th>Código prestador</th>
                <th>Tipo cargue</th>
            </tr>
        </thead>
        <tbody style="height:80px; overflow:auto;">
            @foreach (ECOPETROL_COMMON.ENTIDADES.management_rips_tableoControl_detalladoResult item in Model)
            {
                <tr>
                    <td>@item.id_rips</td>
                    <td>@item.conteo</td>
                    <td>@item.codigo_prestador</td>
                    <td>@item.TipoCargue</td>
                </tr>
            }
        </tbody>
    </table>
</div>


