<!DOCTYPE html>
<html>
<head>

    <link rel="shortcut icon" href="~/Resources/favicon.ico" type="image/x-icon">
    <title>ASALUD</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        //<![CDATA[
        document.cookie = 'same-site-cookie=foo; SameSite=Lax';
        document.cookie = 'cross-site-cookie=bar; SameSite=None; Secure';

        //]]>

    </script>

    <link href="~/Scripts/css/StyleAsaludEcopetrol.css" rel="stylesheet" />

    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/Styles.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" />

    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />

    @*<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.2.511/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.2.511/styles/kendo.bootstrap.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.2.511/styles/kendo.bootstrap.mobile.min.css" />*@

    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2021.2.511/js/jquery.min.js"></script>
    @*<script src="https://kendo.cdn.telerik.com/2021.2.511/js/kendo.all.min.js"></script>*@
    @*<script src="https://kendo.cdn.telerik.com/2020.1.114/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.1.221/js/cultures/kendo.culture.es-PA.min.js" )"></script>
    <script src="https://kendo.cdn.telerik.com/2018.1.221/js/messages/kendo.messages.es-PA.min.js" )"></script>*@


    <script src="~/Scripts/kendo/2014.1.318/kendo.datepicker.min.js"></script>

    <script>
        kendo.culture("es-PA");
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.js" type="text/javascript"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/messages/messages.es-es.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.14.0/dist/sweetalert2.all.min.js"></script>


    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/sweetalert2.min.js"></script>
    <script src="~/Scripts/bootstable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.solo-numero').keyup(function () {
                this.value = (this.value + '').replace(/[^0-9.]/g, '');
            });

            $('.solo-numero2').keydown(function () {
                this.value = (this.value + '').replace(/[^0-9.]/g, '');
            });

            $('.solo-numero3').focusout(function () {
                this.value = (this.value + '').replace(/[^0-9.]/g, '');
            });

            $(".k-input").attr('readonly', true);

            $(".year").datepicker({
                format: "yyyy",
                viewMode: "years",
                minViewMode: "years",
                autoclose: true,
                startDate: new Date('2020'),
                endDate: new Date()
            });
        })

        function LoadingShow() {
            $("#SpinnerCarga").modal();
            $("#SpinnerCarga").modal({ backdrop: 'static', keyboard: false });
            $("#SpinnerCarga").modal('show');
        }

        function LoadingHide() {
            $("#SpinnerCarga").modal('hide');
        }


    </script>

    @Scripts.Render("~/bundles/modernizr")


    <style>

        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }


        .pagination > .active > a {
            background-color: #333333 !important;
            border-color: white !important;
        }

        #ModalAnalitica iframe {
            width: 100%;
            min-height: 65vh;
        }

        #ModalAnalitica .modal-dialog {
            margin-right: 40%;
        }

        span.k-widget.k-datepicker.k-header.datepicker {
            background-color: white;
        }

        label.error {
            background-color: indianred;
            color: white;
            font-size: 13px;
            font-weight: bold;
            width: 100% !important;
        }

        viewer-pdf-toolbar {
            display: none !important;
        }

            viewer-pdf-toolbar#toolbar {
                display: none !important;
            }
    </style>
</head>

<body>
    <div class="container body-content">
        @RenderBody()
        <div id="loader"></div>
        <div id="dialog"></div>
        <div id="container" style="min-height: 1px">
            <div id="content" style="min-height: 1px">
                <div id="DivLoadingPage"></div>
                <div class="modal fade" data-backdrop="static" data-keyboard="false" id="SpinnerCarga">
                    <img id="imgloader" src="~/Resources/cargando.gif" alt="Loading">
                </div>
            </div>
        </div>


        <footer style="text-align:center">
            <p>&copy; @DateTime.Now.Year  "ASALUD SAS"</p>
        </footer>
    </div>
</body>
</html>
