<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js"></script>
<link rel="Stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" />

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" />

<div class="tab-content">
    <div class="tab-pane active" id="1b">


        <div class="panel panel-default">
            <div class="panel-body">
                <form action="tableroHallazgosVisitas" method="post" id="formM">

                    <div class="row col-sm-12">
                        <div class="col-sm-3">
                            <label class="text-secondary_asalud">Periodo fecha inicio</label>
                            <input class="datepickerr" style="width: 100%" name="fechaIniM" id="fechaIniM" />
                        </div>
                        <div class="col-sm-3">
                            <label class="text-secondary_asalud">Periodo fecha final</label>
                            <input class="datepickerr" style="width: 100%" name="fechaFinM" id="fechaFinM" />
                        </div>

                        <div class="col-sm-3 form-group">
                            <label class="text-secondary_asalud">Regional</label>
                            <select class="form-control select2" style="width:100%" name="regionalM" id="regionalM">
                                <option value="">- Seleccione -</option>
                                @foreach (ECOPETROL_COMMON.ENTIDADES.Ref_regional item in ViewBag.regional)
                                {
                                    <option value="@item.indice">@item.nombre_regional</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="text-secondary_asalud">Nit prestador</label>
                            <input type="text" autocomplete="off" class="form-control solo-numero" name="nitPrestadorM" id="nitPrestadorM" maxlength="100" />
                        </div>
                    </div>


                    <div class="row col-sm-12">
                        <div class="col-sm-3 form-group">
                            <label class="text-secondary_asalud">Prestador</label>
                            <input type="text" autocomplete="off" class="form-control" name="prestadorM" id="prestadorM" maxlength="100" />
                        </div>
                        <br />
                        <div class="col-md-6 form-group">
                            <label class="text-secondary_asalud">Total hallazgos subsanados: <input type="text" name="conteoM" id="conteoM" style="background-color: transparent; border: 0px;" disabled /> </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group text-right">
                            <button type="button" onclick="hallazgosBus2()" class="button_Asalud_Guardar"> <i class="glyphicon glyphicon-search" aria-hidden="true"></i> Buscar</button>
                        </div>
                    </div>
                </form>

                <div class="table-responsive">

                    <table id="tabla2" class="table table-bordered table-condensed" style="font-size:10px; width:98%;">
                        <thead>
                            <tr>
                                <th>ítem</th>
                                <th>Prestador</th>
                                <th>Peso total</th>
                                <th>Resultado</th>
                                <th>Resultado total</th>
                                <th>Fecha visita</th>
                                <th>Recursos humanos</th>
                                <th>Condiciones locativas</th>
                                <th>Procesos generales</th>
                                <th>Procesos especiales</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function hallazgosBus2(tipo) {

        var fechaIniM = $("#fechaIniM").val();
        var fechaFinM = $("#fechaFinM").val();
        var regionalM = $("#regionalM").val();
        var prestadorM = $("#prestadorM").val();
        var nitPrestadorM = $("#nitPrestadorM").val();

        $.ajax({
            url: "@Url.Action("_VISITASCERRADASDatos")",
            type: "post",
            data: {
                regionalM: regionalM,
                fechaIniM: fechaIniM,
                fechaFinM: fechaFinM,
                prestadorM: prestadorM,
                nitPrestadorM: nitPrestadorM,
                tipo: tipo,
            },
            success: function (data) {
                var Particion = data.split("|");
                var tabla = Particion[0];
                var conteo = Particion[1];

                $("#tabla2 tbody").empty();
                $("#tabla2 tbody").html(tabla);
                $("#conteoM").val(conteo);
            }
        })
    }

</script>

<style>
    label.error {
        background-color: indianred;
        color: white;
        font-size: 13px;
        font-weight: bold;
        float: left;
        width: 100%;
        text-align: justify;
        font-weight: bold;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Tamaño {
        height: 200px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    #tabla2 {
        font-family: "Century Gothic", "Century Gothic", Sans-Serif;
        font-size: 12px;
        margin: 10px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }

        #tabla2 th {
            font-weight: bold;
            padding: 8px;
            background: #636363;
            border-top: 4px solid #aabcfe;
            border-bottom: 1px solid #fff;
            color: #e8e8e8;
        }

        #tabla2 td {
            padding: 8px;
            background: #efefef;
            border-bottom: 2px solid #fff;
            color: #636363;
            border-top: 1px solid transparent;
        }

        #tabla2 tr:hover td {
            background: #bcbcbc;
            color: #1c1c1c;
        }

    .floatBlock {
        margin: 0 1.81em 0 0;
    }
</style>

