
@{ var i = 0;}

<table class="tableRespuestas table-bordered table-condensed table-striped" style="width: 98%; font-size: 11px;">
    <thead>
        <tr>
            <th class="text-center">Ítem</th>
            <th class="text-center">Pregunta</th>
            <th class="text-center">Respuesta</th>
        </tr>
    </thead>
    <tbody>

        @foreach (ECOPETROL_COMMON.ENTIDADES.management_encuesta_sami_datos_detalleResult item in ViewBag.lista)
        {
            i++;
            <tr>
                <td class="text-center">@i</td>
                <td class="text-left">@item.descripcionPregunta</td>
                @if (item.tipoPregunta == "Selección")
                {
                    <td class="text-left">@item.calificacion</td>
                }
                else
                {
                    <td class="text-left">@item.encuesta_abierta</td>
                }
            </tr>
        }

    </tbody>
</table>