body {
}
.button_Asalud_Aceptar {
    color: white;
    background-color: #80ab97;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: helvetica;
    font-size: 11px;
    border-radius: 5px;
    border: 2px #006505;
    font-size: 13px;
    font-family: "Century Gothic", "Century Gothic", Sans-Serif;
}



    .button_Asalud_Aceptar:hover {
        opacity: 0.6;
        text-decoration: none;
    }


.button_Asalud_Rechazar {
    color: white;
    background-color: #883344;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: helvetica;
    font-size: 11px;
    border-radius: 5px;
    border: 2px #006505;
    font-size: 13px;
    font-family: "Century Gothic", "Century Gothic", Sans-Serif;
}


    .button_Asalud_Rechazar:hover {
        opacity: 0.6;
        text-decoration: none;
    }


.button_Asalud_descargas {
    color: white;
    background-color: #636363;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: helvetica;
    font-size: 11px;
    border-radius: 5px;
    border: 2px #006505;
    font-size: 13px;
    font-family: "Century Gothic", "Century Gothic", Sans-Serif;
}

    .button_Asalud_descargas:hover {
        opacity: 0.6;
        text-decoration: none;
    }


.button_Asalud_Guardar {
    color: white;
    background-color: #6E7584;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: helvetica;
    font-size: 11px;
    border-radius: 5px;
    border: 2px #006505;
    font-size: 13px;
    font-family: "Century Gothic", "Century Gothic", Sans-Serif;
    text-align: center;
}

    .button_Asalud_Guardar:hover {
        opacity: 0.6;
        text-decoration: none;
    }

.text-primary_asalud {
    font-family: "Century Gothic", "Century Gothic", Sans-Serif;
    color: #636363;
    font-weight: bold;
}

.text-secondary_asalud {
    
    font-family: "Century Gothic", "Century Gothic", Sans-Serif;
    color: #556da2;
    font-weight: bold;
    width:100% !important;
}

.text_titulos_asalud {
    font-family: "Century Gothic", "Century Gothic", Sans-Serif;
    color: #EEEDED;
}


.text-footer_asalud {
    font-family: "Century Gothic", "Century Gothic", Sans-Serif;
    color: #636363;
    text-align: center;
}


.pagination > .active > a {
    background-color: #636363 !important;
    border-color: white !important;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #556da2;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    transform: scale(1);
    opacity: 1;
}

.bg {
    background: url('../../Resources/banner1.PNG');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    height: 200px;
}

