

@using Kendo.Mvc.UI;
@model AsaludEcopetrol.Models.PQRS.GestionPqrs

<form id="formulario" action="_RechazarEnrevision" method="post" enctype="multipart/form-data">

    <div class="panel-group" id="accordion">

        <div class="panel panel-default">

            <div class="panel-body">


                <div class="row">
                    <div class="col-sm-6 form-group">


                        <label for="nombre" class="letraa">Ingrese aqui su observacion de rechazo:</label><span style="color:red"></span>
                        <br />
                        <textarea name="observaciorechazo" rows="5" cols="50" maxlength="500" required></textarea>


                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-sm-4 form-group"></div>
                    <div class="col-sm-4 form-group">
                        <button class="btn btn-primary" id="btnguardar" type="button" onclick="ValidarFormulario()">Guardar Cambios</button>
                    </div>
                    <div class="col-sm-4 form-group"></div>
                </div>
                <div style="display:none">
                    @Html.TextBoxFor(u => u.id_ecop_PQRA_enrevision)

                </div>
            </div>

        </div>

    </div>


</form>

<script src="~/Scripts/validate.js"></script>
<script>

    var today = new Date()

    function ValidarFormulario() {

        var validator = $("#formulario").validate();
        if (validator.form()) {
            $("#formulario").submit();
        }
    }

    $(".datepickerr").kendoDatePicker({
        format: "MM/dd/yyyy",
        max: new Date(today.setDate(today.getDate()))
    });
    $(".k-input").attr('readonly', true);

    $(".date").datepicker();


</script>

<style>

    .letraa {
        color: #337ab7;
    }

    label {
        display: block;
        margin-bottom: 2px;
    }
</style>

