
<div id="divInfoFacturas">@Html.Action("_GeneracionCreacionReporte", "Censo", new { cedula = ViewBag.cedula})</div>
<br />
@*<div class="row" id="divGrupoBotones">
    <div class="col-sm-12 text-center form-group">
        <h4>Valor aprobado para presupuesto:&nbsp;<strong id="lblAprobadoParaPago" class="text-secondary_asalud">$0</strong></h4>
    </div>
    <div class="col-sm-12 text-center">
        <button type="button" class="btn button_Asalud_Guardar" onclick="ValidarSeleccionDatosInformePrepuesto()">Aprobado para presupuesto</button>
        <button type="button" class="btn button_Asalud_Rechazar" onclick="CancelarAprobacionPresupueto()">Cancelar</button>
    </div>
</div>*@
