
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel-body stylelogin style2" style="text-align:center; align-content:center" id="divOculto">
        <div class="panel-heading">
            <h5 class="modal-title text-warning" id="alertModalLabel">¡Atención!</h5>
        </div>
        <br />
        <div class="pane-body" id="divOcultoTexto">
            <label class="text-secondary_asalud">Por ventana de mantenimiento, SAMI se cierra el 31/01/2025 - 10 PM y volverá a estar disponible el próximo: 02/02/2025 - 10 PM</label>
        </div>
    </div>
</div>


<style>

    body {
        background-color: #6B7787;
    }

    .container {
        margin-top: 10%;
    }

    .style2 {
        width: 400px;
        margin-left: 30%;
        margin-right: 30%;
    }

    .stylelogin {
        border-radius: 18px;
        text-align: center;
        align-content: center;
        background: rgba(255,255,255,1);
        background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 99%, rgba(237,237,237,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(99%, rgba(255,255,255,1)), color-stop(100%, rgba(237,237,237,1)));
        background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 99%, rgba(237,237,237,1) 100%);
        background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 99%, rgba(237,237,237,1) 100%);
        background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 99%, rgba(237,237,237,1) 100%);
    }

    .panel-body.style2 img {
        max-width: 100%;
        height: auto;
    }

    #formInicio {
        margin-top: 5%;
    }

    .contenido {
        margin-left: 8%;
        margin-right: 8%;
    }

    .imagenesHsf {
        margin-left: 8%;
        margin-right: 8%;
    }

        .imagenesHsf .hsfLogo {
            position: relative;
            transform: rotate(-90deg);
            margin-left: 68%;
            margin-top: -15%;
        }

            .imagenesHsf .hsfLogo label {
                color: rgba(255,255,255,1);
                font-size: 10px;
                font-family: 'Century Gothic';
            }

    .Error {
        color: #800000;
        font-size: x-small;
        font-weight: bold;
    }

    /*  .text-primary_asalud {
            font-family: "Century Gothic", "Century Gothic";
            color: white;
        }
    */

    .text-secondary_asalud {
        font-family: "Century Gothic", "Century Gothic";
        color: #6B7787;
    }

    .button_Asalud_Guardar {
        color: white;
        background-color: #6B7787;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 6px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 12px;
        border-radius: 8px;
        border: 2px #006505;
        font-family: "Century Gothic", "Century Gothic";
        text-align: center;
    }

        .button_Asalud_Guardar:hover {
            opacity: 0.6;
            text-decoration: none;
        }

    .Tamaño {
        height: 150px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }
</style>
