<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ECOPETROL_COMMON.Properties.Settings.ecopetrolConnectionString"
            connectionString="Data Source=138.121.202.74;Initial Catalog=ecopetrol;Persist Security Info=True;User ID=userappsami;Password=Srs_Asa*2023#;Connect Timeout=120"
            providerName="System.Data.SqlClient" />
        <add name="ECOPETROL_COMMON.Properties.Settings.ecopetrol_pruebasConnectionString"
            connectionString="Data Source=138.121.202.74;Initial Catalog=ecopetrol_pruebas;Persist Security Info=True;User ID=userappsami;Password=Srs_Asa*2023#;Connect Timeout=120"
            providerName="System.Data.SqlClient" />
        <add name="ECOPETROL_COMMON.Properties.Settings.medicamentosConnectionString"
            connectionString="Data Source=138.121.200.242\MSSQLSERVER2012;Initial Catalog=medicamentos;User ID=userappsami;Password=Srs_Asa*2023#"
            providerName="System.Data.SqlClient" />
        <add name="ECOPETROL_COMMON.Properties.Settings.prestadoresConnectionString"
            connectionString="Data Source=138.121.200.242\MSSQLSERVER2012;Initial Catalog=prestadores;User ID=userappsami"
            providerName="System.Data.SqlClient" />
        <add name="ECOPETROL_COMMON.Properties.Settings.medicamentos_pruebasConnectionString"
            connectionString="Data Source=138.121.200.242\MSSQLSERVER2012;Initial Catalog=medicamentos_pruebas;User ID=adminsamirs2011;Connect Timeout=120"
            providerName="System.Data.SqlClient" />
        <add name="ECOPETROL_COMMON.Properties.Settings.analitica_pruebasConnectionString"
            connectionString="Data Source=138.121.200.242;Initial Catalog=analitica_pruebas;Persist Security Info=True;User ID=userappsami"
            providerName="System.Data.SqlClient" />
        <add name="ECOPETROL_COMMON.Properties.Settings.ecopetrolConnectionString2"
            connectionString="Data Source=138.121.202.74;Initial Catalog=ecopetrol;Persist Security Info=True;User ID=userappsami;Connect Timeout=120"
            providerName="System.Data.SqlClient" />
        <add name="ECOPETROL_COMMON.Properties.Settings.ecopetrol_pruebasConnectionString1"
            connectionString="Data Source=138.121.202.74;Initial Catalog=ecopetrol_pruebas;Persist Security Info=True;User ID=userappsami;Connect Timeout=120"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

</configuration>