
@{
    ViewBag.Title = "SISTEMA DE CARGUE ANALITICA";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}

<br />
<div class="section ">
    <div class="container" id="divprincipal" style="text-align: center;">
        <br />
        <br />
        <div class="alert alert-info" role="alert">
            <strong>Atencion!</strong>&nbsp; A continuación se abrirá una ventana emergente donde encontrará el formulario para hacer el correspondiente cargue de la base.
        </div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $('#cargademodal').attr('src', 'http://samianaliticapruebas.aplicativoasalud.co/?usuario=UserAnalitica&clave=analiticacb*');
        $('#ModalAnalitica').modal('show');
        $('#ModalAnalitica').on('hidden.bs.modal', function (e)
        {
            var url = "@Url.Action("Inicio","Usuario")"
            location.href = url;
        })
    })
</script>

<style>
    .TablePrin {
        border-color: #357ebd;
        background-color: #428bca;
        font-weight: bold;
        font-size: small;
        color: #ffffff;
    }

    .TableSec {
        border-color: #357ebd;
        background-color: #4d4d4d;
        font-size: smaller;
        color: #ffffff;
    }

    .Tamaño {
        height: 200px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }
</style>


