<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ANALITICA_COMMON.Properties.Settings.analitica_pruebasConnectionString"
            connectionString="Data Source=138.121.200.242;Initial Catalog=analitica_pruebas;Persist Security Info=True;User ID=userappsami;Password=Srs_Asa*2023#;Connect Timeout=120"
            providerName="System.Data.SqlClient" />
      <add name="ANALITICA_COMMON.Properties.Settings.analiticaConnectionString"
            connectionString="Data Source=138.121.200.242;Initial Catalog=analitica;Persist Security Info=True;User ID=userappsami;Password=Srs_Asa*2023#;Connect Timeout=120"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>