@using Kendo.Mvc.UI;
@model AsaludEcopetrol.Models.FFMM.cuentasmedicas
@{
    ViewBag.Title = "INGRESO DE FACTURA CUENTAS MEDICAS";
    Layout = "~/Views/Shared/_LayoutECOPETROL.cshtml";
}


@{
    string alerta = (string)ViewData["Alerta"];
    int tipoalerta = (int)ViewData["tipoalerta"];
}

<br>


<div class="container">
    <div id="pnlPrincipal" class="General">
        @if (tipoalerta > 0)
        {
            if (tipoalerta == 1)
            {
                <div class="alert alert-success">
                    <strong>Éxito!</strong> @alerta
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    <strong>Error!</strong> @alerta
                </div>
            }
        }

        <form id="myform" name="myform" action="@Url.Action("IngresoCuentasMedicas")" method="post" enctype="multipart/form-data">

            <div id="pnlGeneral" style="display:none">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">DATOS GLOSA:</h3>
                    </div>

                    <div class="panel-body">

                        

                        
                        
                      
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">DATOS CONCILIACION GLOSAS:</h3>
                            </div>


                                <div class="row form-group">

                                    <div class="col-sm-3">
                                        <label class="text-secondary_asalud">NUMERO ACTA RESPUESTA GLOSA:</label>
                                        <input type="number" name="NumActaResGlosa" id="NumActaResGlosa" class="form-control" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="text-secondary_asalud">FECHA ACTA PRIMERA CONCILIACION GLOSA:</label>
                                        <div class='input-group date' id='datetimepicker19'>
                                            <input type='text' class="form-control" readonly value="" name="FechaActPriCons" id="txtFechaFechaActPriCons" />
                                            <span class="input-group-addon" style="cursor:pointer">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="text-secondary_asalud">NUMERO ACTA PRIMERA CONCILIACION GLOSA:</label>
                                        <input type="number" name="NumActaResGlosa" id="NumActaResGlosa" class="form-control" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="text-secondary_asalud">FECHA ACTA SEGUNDA CONCILIACION GLOSA:</label>
                                        <div class='input-group date' id='datetimepicker20'>
                                            <input type='text' class="form-control" readonly value="" name="FechaActSegCons" id="txtFechaFechaActSegCons" />
                                            <span class="input-group-addon" style="cursor:pointer">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                                </div>

                                <div class="row form-group">

                                    <div class="col-sm-3">
                                        <label class="text-secondary_asalud">NUMERO ACTA SEGUNDA CONCILIACION GLOSA:</label>
                                        <input type="number" name="NumActaResGlosa" id="NumActaResGlosa" class="form-control" />
                                    </div>
                                    <div class="col-sm-3">

                                    </div>
                                    <div class="col-sm-3">

                                    </div>
                                    <div class="col-sm-3">

                                    </div>

                                </div>

                            </div>
                        </div>


                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">DATOS AUDITORES RESPONSABLES:</h3>
                    </div>

                    <div class="panel-body">

                        <div class="row form-group">

                            <div class="col-sm-3">
                                <label class="text-secondary_asalud">ANALISTA CUENTAS MEDICAS:</label>
                                <input type="text" name="AnalistaCM" id="AnalistaCM" class="form-control" readonly />
                            </div>
                            <div class="col-sm-3">
                                <label class="text-secondary_asalud">AUDITOR PROFESIONAL DE LA SALUD DE CUENTAS MEDICAS:</label>
                                <input type="text" name="AuditorCM" id="AuditorCM" class="form-control" readonly />
                            </div>
                            <div class="col-sm-3">
                                <label class="text-secondary_asalud">AUDITOR MEDICO DE CUENTAS MEDICAS:</label>
                                <input type="text" name="MedicoCM" id="MedicoCM" class="form-control" readonly />
                            </div>
                            <div class="col-sm-3">

                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">FECHA ENTREGA FACTURACION Y ACTAS:</h3>
                    </div>

                    <div class="panel-body">

                        <div class="row form-group">

                            <div class="col-sm-3">
                                <label class="text-secondary_asalud">FECHA ENTREGA CONTRATISTAS AL ESM O CENAC DE FACTURA(PRIEMRA ENTREGA):</label>
                                <div class='input-group date' id='datetimepicker21'>
                                    <input type='text' class="form-control" readonly value="" name="FechaEntFactesmPri" id="txtFechaFechaEntFactesmPri" />
                                    <span class="input-group-addon" style="cursor:pointer">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="text-secondary_asalud">FECHA ENTREGA CONTRATISTAS AL ESM O CENAC DE FACTURA(SEGUNDA ENTREGA):</label>
                                <div class='input-group date' id='datetimepicker22'>
                                    <input type='text' class="form-control" readonly value="" name="FechaEntFactesmSeg" id="txtFechaFechaEntFactesmSeg" />
                                    <span class="input-group-addon" style="cursor:pointer">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="text-secondary_asalud">FECHA ENTREGA CONTRATISTAS AL ESM O CENAC DE FACTURA(TERCERA ENTREGA):</label>
                                <div class='input-group date' id='datetimepicker22'>
                                    <input type='text' class="form-control" readonly value="" name="FechaEntFactesmTer" id="txtFechaFechaEntFactesmTer" />
                                    <span class="input-group-addon" style="cursor:pointer">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="text-secondary_asalud">FECHA ENTREGA CONTRATISTAS AL ESM O CENAC DE FACTURA(CUARTA ENTREGA):</label>
                                <div class='input-group date' id='datetimepicker22'>
                                    <input type='text' class="form-control" readonly value="" name="FechaEntFactesmCuar" id="txtFechaFechaEntFactesmCuar" />
                                    <span class="input-group-addon" style="cursor:pointer">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">DATOS PROCESO AUDITORIA:</h3>
                    </div>

                    <div class="panel-body">

                        <div class="row form-group">

                            <div class="col-sm-3">

                            </div>
                            <div class="col-sm-3">

                            </div>
                            <div class="col-sm-3">

                            </div>
                            <div class="col-sm-3">

                            </div>

                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-12 text-right">
                        <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-upload"></i>&nbsp; Cargar Resultados</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("form[name='myform']").validate({
            lang: 'Es',
            rules: {

                Lote: "required",
                FechaFactura: "required",
                añomes: "required",
                ips: "required",
                habilitacion: "required",
                naturaleza: "required",
                codmunicipio: "required",
                municipio: "required",
                coddepartamento: "required",
                departamento: "required",
                nombreApellidos: "required",
                numeroid: "required",
                FechaNacimiento: "required",
                edad: "required",
                edadT: "required",
                etario: "required",
                adscripcion: "required",
                grado: "required",
                prefijo: "required",
                NunFac: "required",
                VarFac: "required",
                dx1: "required",
                dx1des: "required",
                idcups1: "required",
                descups1: "required",
                dxEgre: "required",
                dxEgredes: "required",
                FechaHospitaliz: "required",
                FechaHospitalizEgre: "required",
                diasInsHos: "required",
                FechaIngresoUCI: "required",
                FechaEgresoUCI: "required",
                diasInsuci: "required",
                FechaIngresoInt: "required",
                FechaEgresoInt: "required",
                diasEstInt: "required",
                FechaIngreso:  "required",
                FechaEgreso: "required",
                ipsDiasEstan: "required",
                vlrglosainicial: "required",

                unidad: { required: true },


            },
            messages: {
                file: 'No se ha seleccionado ningun archivo'
            },
            submitHandler: function (form) {
                LoadingShow();
                form.submit();
            }
        });

        jQuery.extend(jQuery.validator.messages, {
            required: "Este Campo es Obligatorio *",
        });

        $('.date').datepicker({
            autoclose: true,
            format: 'mm/dd/yyyy',
            orientation: "bottom",
            todayBtn: "linked",
            todayHighlight: false,
        });

        var container = $("#myform");
                    kendo.init(container);
                    container.kendoValidator({
                        rules: {
                            greaterdate: function (input) {
                                if (input.is("[data-greaterdate-msg]") && input.val() != "") {
                                    var date = kendo.parseDate(input.val()),
                                        otherDate = kendo.parseDate($("[name='" + input.data("greaterdateField") + "']").val());
                                    return otherDate == null || otherDate.getTime() < date.getTime();
                                }

                                return true;
                            }
                        }
                    });


         $("#datetimepicker100").change(function () {

             $("#txtFechaIngreso").val('');
             $("#txtFechaEmision").val('');
             $("#txtFechaEgreso").val('');

             var Numero = 830039670-5

             $("#NitCont").val(Numero);

         })


        $("#datetimepicker2").change(function () {

            var fecha = document.getElementById("txtFechaNacimiento").value;

            var age = calcularEdad(fecha);
            $("#edad").val(age);
            $("#edadT").val(age);
        })

     

     $("#datetimepicker6").change(function () {

         var fechaFac = document.getElementById("txtfechaFactura").value;
         var fecha_emision = document.getElementById("txtFechaEmision").value;
         var txtFechaEgreso = document.getElementById("txtFechaEgreso").value;

           if (fecha_emision < fechaFac) {
               alert('FECHA NO PUEDE SER MENOR A LA FECHA PRESENTACION DE LA FACTURA...');
               $("#txtFechaEmision").val('');
           }

          if (fecha_emision < txtFechaEgreso) {
               alert('FECHA NO PUEDE SER MENOR A LA FECHA DE EGRESO IPS...');
               $("#txtFechaEmision").val('');
           }


       })

     $("#datetimepicker8").change(function () {

         var fechaHosp = document.getElementById("txtFechaHospitaliz").value;
         var fechaIngreso = document.getElementById("txtFechaIngreso").value;
         var txtFechaEgreso = document.getElementById("txtFechaEgreso").value;

           if (fechaHosp < fechaIngreso) {
               alert('FECHA NO PUEDE SER MENOR A LA FECHA INGRESO IPS...');
               $("#txtFechaHospitaliz").val('');
           }

          if (fechaHosp < txtFechaEgreso) {
               alert('FECHA NO PUEDE SER MENOR A LA FECHA DE EGRESO IPS...');
               $("#txtFechaHospitaliz").val('');
           }


     })

     $("#datetimepicker9").change(function () {

         var fechaHosp = document.getElementById("txtFechaHospitaliz").value;
         var fechaIngreso = document.getElementById("txtFechaIngreso").value;
         var txtFechaEgreso = document.getElementById("txtFechaEgreso").value;
         var txtFechaEgresoH = document.getElementById("txtFechaHospitalizEgre").value;



           if (txtFechaEgresoH < fechaIngreso) {
               alert('FECHA NO PUEDE SER MENOR A LA FECHA INGRESO IPS...');
               $("#txtFechaHospitalizEgre").val('');
           }

          if (txtFechaEgresoH < txtFechaEgreso) {
               alert('FECHA NO PUEDE SER MENOR A LA FECHA DE EGRESO IPS...');
               $("#txtFechaHospitalizEgre").val('');
         }

          if (txtFechaEgresoH < fechaHosp) {
               alert('FECHA NO PUEDE SER MENOR A LA FECHA DE INGRESO HOSPITALIZACION...');
               $("#txtFechaHospitalizEgre").val('');
           }

          var dias = restaFechas(fechaHosp, txtFechaEgresoH);

            $("#diasInsHos").val(dias);

     })

$("#datetimepicker10").change(function () {

         var fechaIngUCI = document.getElementById("txtFechaIngresoUCI").value;
         var fechaIngreso = document.getElementById("txtFechaIngreso").value;
         var txtFechaEgreso = document.getElementById("txtFechaEgreso").value;

           if (fechaIngUCI < fechaIngreso) {
               alert('FECHA NO PUEDE SER MENOR A LA FECHA INGRESO IPS...');
               $("#txtFechaIngresoUCI").val('');
           }

          if (fechaIngUCI < txtFechaEgreso) {
               alert('FECHA NO PUEDE SER MENOR A LA FECHA DE EGRESO IPS...');
               $("#txtFechaIngresoUCI").val('');
         }



          var dias = restaFechas(fechaHosp, txtFechaEgresoH);

            $("#diasInsHos").val(dias);

})

$("#datetimepicker11").change(function () {

       var fechaIngUCI = document.getElementById("txtFechaIngresoUCI").value;
         var fechaIngreso = document.getElementById("txtFechaIngreso").value;
         var txtFechaEgreso = document.getElementById("txtFechaEgreso").value;
         var txtFechaEgresoUCI = document.getElementById("txtFechaEgresoUCI").value;



           if (txtFechaEgresoUCI < fechaIngreso) {
               alert('FECHA NO PUEDE SER MENOR A LA FECHA INGRESO IPS...');
               $("#txtFechaEgresoUCI").val('');
           }

          if (txtFechaEgresoUCI < txtFechaEgreso) {
               alert('FECHA NO PUEDE SER MENOR A LA FECHA DE EGRESO IPS...');
               $("#txtFechaEgresoUCI").val('');
         }

          if (txtFechaEgresoUCI < fechaIngUCI) {
               alert('FECHA NO PUEDE SER MENOR A LA FECHA DE INGRESO UCI IPS...');
               $("#txtFechaEgresoUCI").val('');
           }

          var dias = restaFechas(fechaIngUCI, txtFechaEgresoUCI);

            $("#diasInsuci").val(dias);

})

$("#datetimepicker12").change(function () {

         var fechaIngInt = document.getElementById("txtFechaIngresoInt").value;
         var fechaIngreso = document.getElementById("txtFechaIngreso").value;
         var txtFechaEgreso = document.getElementById("txtFechaEgreso").value;

           if (fechaIngInt < fechaIngreso) {
               alert('FECHA NO PUEDE SER MENOR A LA FECHA INGRESO IPS...');
               $("#txtFechaIngresoInt").val('');
           }

          if (fechaIngInt < txtFechaEgreso) {
               alert('FECHA NO PUEDE SER MENOR A LA FECHA DE EGRESO IPS...');
               $("#txtFechaIngresoInt").val('');
         }

})

    $("#datetimepicker22").change(function () {

         var fechaIngInt = document.getElementById("txtFechaIngresoInt").value;
         var fechaIngreso = document.getElementById("txtFechaIngreso").value;
         var txtFechaEgreso = document.getElementById("txtFechaEgreso").value;
         var txtFechaEgresoInt = document.getElementById("txtFechaEgresoInt").value;



           if (txtFechaEgresoInt < fechaIngreso) {
               alert('FECHA NO PUEDE SER MENOR A LA FECHA INGRESO IPS...');
               $("#txtFechaEgresoInt").val('');
           }

          if (txtFechaEgresoInt < txtFechaEgreso) {
               alert('FECHA NO PUEDE SER MENOR A LA FECHA DE EGRESO IPS...');
               $("#txtFechaEgresoInt").val('');
         }

          if (txtFechaEgresoInt < fechaIngInt) {
               alert('FECHA NO PUEDE SER MENOR A LA FECHA DE INGRESO INTERMEDIOS ...');
               $("#txtFechaEgresoInt").val('');
           }

          var dias = restaFechas(fechaIngInt, txtFechaEgresoInt);

            $("#diasEstInt").val(dias);

    })

    $("#datetimepicker13").change(function () {

        var fechaIngreso = document.getElementById("txtFechaIngreso").value;
         var fechaFac = document.getElementById("txtfechaFactura").value;
         var fechaGlosaIni = document.getElementById("txtFechaGlosaInicial").value;


           if (fechaGlosaIni < fechaIngreso) {
               alert('FECHA NO PUEDE SER MENOR A LA FECHA INGRESO IPS...');
               $("#txtFechaGlosaInicial").val('');
           }

          if (fechaGlosaIni < fechaFac) {
              alert('FECHA NO PUEDE SER MENOR A LA FECHA DE PRESENTACION DE LA FACTURA...');
               $("#txtFechaGlosaInicial").val('');
         }

    })

        $("#datetimepicker14").change(function () {

        var fechaIngreso = document.getElementById("txtFechaIngreso").value;
        var fechaFac = document.getElementById("txtfechaFactura").value;
        var fechaGlosaIni = document.getElementById("txtFechaGlosaInicial").value;
        var fechaNotifiGlosa = document.getElementById("txtFechaNotificaGlosa").value;

           if (fechaNotifiGlosa < fechaIngreso) {
               alert('FECHA NO PUEDE SER MENOR A LA FECHA INGRESO IPS...');
               $("#txtFechaNotificaGlosa").val('');
           }

          if (fechaNotifiGlosa < fechaFac) {
              alert('FECHA NO PUEDE SER MENOR A LA FECHA DE PRESENTACION DE LA FACTURA...');
               $("#txtFechaNotificaGlosa").val('');
          }

         if (fechaNotifiGlosa < fechaGlosaIni) {
              alert('FECHA NO PUEDE SER MENOR A LA FECHA GLOSA INICIAL...');
               $("#txtFechaNotificaGlosa").val('');
         }

    })

        $("#VarFac").change(function () {

            var valor = document.getElementById("VarFac").value;
            var valor2 = document.getElementById("VarNcredito").value;

            var total = valor - valor2

            $("#VarAtencion").val(total);

        })

  $("#vlrglosainicial").change(function () {

            var valor = document.getElementById("vlrglosainicial").value;
            var valor2 = document.getElementById("VarAtencion").value;

      if (valor > valor2) {
          alert('VALOR NO PUEDE SER MAYOR AL VALOR DE LA ATENCION....');
          $("#vlrglosainicial").val('');
      } else {

          var total = valor2 - valor

         $("#vlrPrimeraAud").val(total);
      }



  })

 $("#VarNcredito").change(function () {

            var valor = document.getElementById("VarFac").value;
            var valor2 = document.getElementById("VarNcredito").value;

            var total = valor - valor2

            $("#VarAtencion").val(total);

 })

     
      

    });

    function CustomerSelect0(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#ips").val(DataItem.id_ref_ffmm_prestadores);

    }

    function CustomerSelect3(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#unidad").val(DataItem.id_ref_ffmm_unudadR);
    }

   function CustomerSelect4(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#satelite").val(DataItem.id_ref_ffmm_unidad_satelite);
   }

   function CustomerSelect5(e) {
     var DataItem = this.dataItem(e.item.index());
     $("#ips").val(DataItem.id_ref_ffmm_prestadores);
   }



   function CustomerSelect7(e) {
     var DataItem = this.dataItem(e.item.index());
     $("#tipo_id").val(DataItem.id_ref_tipo_documental);
   }

   function CustomerSelect8(e) {
    var DataItem = this.dataItem(e.item.index());
    $("#sexo").val(DataItem.id_ref_ffmm_sexo);
   }



  function CustomerSelect10(e) {
    var DataItem = this.dataItem(e.item.index());
    $("#tipo_afiliacion").val(DataItem.id_ref_ffmm_tipo_afiliacion);
   }
  function CustomerSelect11(e) {
    var DataItem = this.dataItem(e.item.index());
    $("#fuerza").val(DataItem.id_ref_ffmm_fuerza);
    }

   function CustomerSelect12(e) {
    var DataItem = this.dataItem(e.item.index());
    $("#modalidad").val(DataItem.id_ref_modalidad_pago);
    }

    function CustomerSelect13(e) {
    var DataItem = this.dataItem(e.item.index());
    $("#origen_servicio").val(DataItem.id_ref_ffmm_origen_servicio);
    }

    function CustomerSelect14(e) {
    var DataItem = this.dataItem(e.item.index());
    $("#servicio").val(DataItem.id_ref_ffmm_servicio);
    }


    function CustomerSelect15(e) {
    var DataItem = this.dataItem(e.item.index());
    $("#Tservicio").val(DataItem.id_ref_ffmm_tipo_servicio);
    }

    function CustomerSelect16(e) {
    var DataItem = this.dataItem(e.item.index());
    $("#remitio").val(DataItem.id_ref_ffmm_especialidad_remitio);
    }

    function CustomerSelect17(e) {
    var DataItem = this.dataItem(e.item.index());
    $("#remite").val(DataItem.id_ref_ffmm_especialidad_remite);
    }

    function CustomerSelect18(e) {
    var DataItem = this.dataItem(e.item.index());
    $("#altoc").val(DataItem.id_ref_ffmm_alto_costo);
    }

    function CustomerSelect19(e) {
    var DataItem = this.dataItem(e.item.index());
    $("#img").val(DataItem.id_ref_ffmm_imagen_proc);
    }

    function CustomerSelect20(e) {
    var DataItem = this.dataItem(e.item.index());
    $("#nivela").val(DataItem.id_ref_ffmm_nivel_atencion);
    }

    function CustomerSelect21(e) {
    var DataItem = this.dataItem(e.item.index());
    $("#nivelcom").val(DataItem.id_ref_ffmm_nivel_complejidad);
    }


    function CustomerSelect22(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#dx1").val(DataItem.id_cie10);

    }

      function CustomerSelect23(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#dx1des").val(DataItem.des);

    }

    function CustomerSelect24(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#dx2").val(DataItem.id_cie10);

    }

   function CustomerSelect25(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#dx2des").val(DataItem.des);

    }

  function CustomerSelect26(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#idcups1").val(DataItem.id_cups);

    }

  function CustomerSelect27(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#descups1").val(DataItem.des);

  }

  function CustomerSelect28(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#dxEgre").val(DataItem.id_cie10);

    }
  function CustomerSelect29(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#dxEgredes").val(DataItem.des);

    }
  function CustomerSelect30(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#dxEgre2").val(DataItem.id_cie10);

    }
  function CustomerSelect31(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#dxEgredes2").val(DataItem.des);

    }

  function CustomerSelect32(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#herido").val(DataItem.descripcion);

    }

  function CustomerSelect33(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#glosa").val(DataItem.descripcion);

    }

      function CustomerSelect34(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#depart").val(DataItem.cod_departamento);

    }


      function CustomerSelect35(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#munic").val(DataItem.cod_municipio);

    }

    function CustomerSelect36(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#ipsP").val(DataItem.id_ref_ffmm_prestadores);

    }

    function CustomerSelect37(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#adscrpcion").val(DataItem.sitio_adscripcion);

    }

    function CustomerSelect38(e) {
        var DataItem = this.dataItem(e.item.index());
        $("#grado").val(DataItem.grado);

    }


    $(function () {
        var validator = $("#myform").kendoValidator().data("kendoValidator");
        var status = $(".status");
        var Alerta = 0;
        var mensaje = "";


        $("form").submit(function (event) {
            event.preventDefault();
            if (validator.validate()) {

                  var formData = new FormData($("form")[0]);
                  LoadingShow();
                  $.ajax({

                    url: "/CuentasMedicas/SaveCuentas",
                    data: formData,
                    method: 'POST',
                    contentType: false,
                    processData: false,

                    success: function (response)
                    {

                        if (response.success)
                        {
                             LoadingHide();
                            alert(response.message);
                        }
                        else
                        {
                            LoadingHide();
                            alert(response.message);

                        }

                    }
                })
                .fail(function () {
                  alert('ERROR AL GUARDAR.');
                  LoadingHide();
                 });

            } else {
                     status.text("Oops! There is invalid data in the form.")
                    .removeClass("valid")
                    .addClass("invalid");
            }
        });
    });


    function MostrarIps() {

        document.getElementById('pnlips').style.display = 'block';
        document.getElementById('pnlProveedor').style.display = 'none';
        document.getElementById('pnlGeneral').style.display = 'block';


    }

   function MostrarProveedor() {
       document.getElementById('pnlProveedor').style.display = 'block';
       document.getElementById('pnlips').style.display = 'none';
       document.getElementById('pnlGeneral').style.display = 'block';
   }


    function calcularEdad(fecha) {
        var hoy = new Date();
        var cumpleanos = new Date(fecha);
        var edad = hoy.getFullYear() - cumpleanos.getFullYear();
        var m = hoy.getMonth() - cumpleanos.getMonth();

        if (m < 0 || (m === 0 && hoy.getDate() < cumpleanos.getDate())) {
            edad--;
        }

        return edad;
    }

     function restaFechas(f1,f2)
     {
         var fecha1 = new Date(f1);
         var fecha2 = new Date(f2);
         var diasDif = fecha2.getTime() - fecha1.getTime();
         var dias = Math.round(diasDif / (1000 * 60 * 60 * 24));

         return dias;
    }

    function onSelect(e) {
   	if (e.item) {
    	var dataItem = this.dataItem(e.item);

              if (dataItem.id_ref_modalidad_pago == 1) {

                  document.getElementById('contrato').style.display = 'block';
                  document.getElementById("contrato").required = true;
                  $('contrato').attr('required', true);



              }
              else
              {
                  document.getElementById('contrato').style.display = 'none';
                  document.getElementById("contrato").required = false;
                  $('contrato').attr('required', false);

              }
          }

    }

   function onSelect2(e) {
   	if (e.item) {
    	var dataItem = this.dataItem(e.item);

              if (dataItem.id_ref_ffmm_tipo_servicio == 6) {

                  document.getElementById('TipoImg').style.display = 'block';
              }
              else
              {
                  document.getElementById('TipoImg').style.display = 'none';

              }
          }

    }

 function onSelect3(e) {
     if (e.item)
     {
         var dataItem = this.dataItem(e.item);

         $("#dx1des").val(dataItem.des);

     }

    }

  function onSelect4(e) {
     if (e.item)
     {
         var dataItem = this.dataItem(e.item);

         $("#dx1").val(dataItem.id_cie10);

     }

    }

  function onSelect5(e) {
     if (e.item)
     {
         var dataItem = this.dataItem(e.item);

         $("#dx2des").val(dataItem.des);

     }

    }

  function onSelect6(e) {
     if (e.item)
     {
         var dataItem = this.dataItem(e.item);

         $("#dx2").val(dataItem.id_cie10);

     }

    }

     function onSelect7(e) {
     if (e.item)
     {
         var dataItem = this.dataItem(e.item);

         $("#dxEgredes").val(dataItem.des);

     }

    }

  function onSelect8(e) {
     if (e.item)
     {
         var dataItem = this.dataItem(e.item);

         $("#dxEgre").val(dataItem.id_cie10);

     }

    }

  function onSelect9(e) {
     if (e.item)
     {
         var dataItem = this.dataItem(e.item);

         $("#dxEgredes2").val(dataItem.des);

     }

    }

  function onSelect10(e) {
     if (e.item)
     {
         var dataItem = this.dataItem(e.item);

         $("#dxEgre2").val(dataItem.id_cie10);

     }

    }

     function onSelect11(e) {
     if (e.item)
     {
         var dataItem = this.dataItem(e.item);

         $("#descup1").val(dataItem.des);

     }

    }

     function onSelect12(e) {
     if (e.item)
     {
         var dataItem = this.dataItem(e.item);

         $("#idcup1").val(dataItem.id_cups);

     }

    }

   function onSelect13(e) {
     if (e.item)
     {
         var dataItem = this.dataItem(e.item);

              if (dataItem.id_ref_ffmm_sino == 1) {

                  document.getElementById('pnlGlosa').style.display = 'block';
              }
              else
              {
                  document.getElementById('pnlGlosa').style.display = 'none';

              }
     }

    }

   function onSelect14(e) {
     if (e.item)
     {
         var dataItem = this.dataItem(e.item);

            $("#Nips").val(dataItem.nit);
            $("#habilitacion").val(dataItem.codigohabilitacion);
            $("#naturaleza").val(dataItem.najunombre);
            $("#codmunicipio").val(dataItem.cod_municipio);
            $("#coddepartamento").val(dataItem.cod_departamento);
            
     }

   }

</script>



<style>


    #fieldlist {
        margin: 0 0 -1.5em;
        padding: 20px;
    }

        #fieldlist li {
            list-style: none;
            padding-bottom: 1.5em;
        }

        #fieldlist label {
            display: contents;
            padding-bottom: .6em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
        }

    #fieldlist {
        margin: 0;
        padding: 0;
    }


        #fieldlist li.status {
            text-align: center;
        }

        #fieldlist li .k-widget:not(.k-tooltip),
        #fieldlist li .k-textbox {
            margin: 0 5px 5px 0;
        }

    #pnlcargararchivo {
        margin-top: 5%;
    }

    .error {
        color: indianred;
        font-size: 11px;
    }

    .control-label {
        font-size: 12px;
        color: #357ebd;
    }


    .Info {
        color: #800000;
        text-align: justify;
        font-weight: bold;
    }

    .Error {
        color: #800000;
        font-size: small;
        font-weight: bold;
    }

    .Tamaño {
        height: 200px;
    }

    .TamañoImag {
        height: 200px;
        position: center;
    }

    .TamañoDiv {
        position: page;
        /*width:1100px;*/
    }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }
</style>




