
@model List<ECOPETROL_COMMON.ENTIDADES.Management_gasto_x_servicio_consolidadoResult>
@{
    Layout = null;
}

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Item</th>
                <th>Servicios</th>
                <th>Eventos</th>
                <th>Gasto cop</th>
            </tr>
        </thead>
        <tbody style="height:80px; overflow:auto;">
            @foreach (ECOPETROL_COMMON.ENTIDADES.Management_gasto_x_servicio_consolidadoResult item in Model)
            {
                <tr>
                    <td>@item.id_tipo_servicio</td>
                    <td>@item.nom_servicio</td>
                    <td>@item.eventos</td>
                    <td>@item.gasto_cop</td>
                </tr>
            }
        </tbody>
    </table>
</div>


